/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 mark {
 	background-color: #cde1bb;
 }

.layout-half {
 	width: 48%;
 	float: left;
}

.layout-half:first-child {
	margin-right: 4%;
}

.layout-half p {
	font-size: 14px;
}

.code-sample {
	background: #fff;
	padding: 0.25em 1.5em;
}

.layout-half p.shortcode-sample {
	font-size: 16px;
}

@media (max-width:768px) {

	.layout-half {
	 	width: 100%;
	 	float: none;
	}

	.layout-half:first-child {
		margin-right: 0;
	}

}